.swiperSliderStyleStyle {
  height: 100%;
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 1rem;
}
.swiperSliderStyleStyle:hover {
  opacity: .6;
}
